/*main.css*/
.startLocation{position:absolute;top:20px;left:650px;}
#SiteListBox{margin-left:20px;width:175px;margin-top:20px;}
#SiteListButtons{margin-left:20px;}
#gridBlock{position:absolute;top:20px;left:300px;}
#siteKeyDelValue, #siteKeyErrMsg{color:red;}