/*main.css*/
.startLocation{position:absolute;top:20px;left:650px;}
/*#SiteListBox{margin-left:20px;width:175px;margin-top:20px;}*/
#SiteListBox{width:100%;}
#SiteListButtons{margin-left:20px;}
#siteKeyDelValue, #siteKeyErrMsg{color:red;}
#noshow{visibility:hidden;}
.cyaHeader{font-size:large;color:blue; margin-left:10px;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
img {max-width:100%;}